<beans xmlns = "http://www.springframework.org/schema/beans"

 xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"

 
xsi:schemaLocation = "http://www.springframework.org/schema/beans

 
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id = "nonVeg"   class = "com.capgemini.spring.food.type.FoodRenderer">

		<property name  = "foodType" ref = "veg"/>
	</bean>

	<bean id = "veg"   class = "com.capgemini.spring.food.type.VegFood">

	</bean>
</beans>